<h1>My page {{title}}  </h1>
<h2>My favourite {{smart}}  </h2>

<!-- <ul>
  <li>{{courses[0]}}</li>
  <li>{{courses[1]}}</li>
  <li>{{courses[2]}}</li>
  <li>{{courses[3]}}</li>
</ul> -->

<ul>
  <li *ngFor="let a of courses; let i=index">{{a}}</li>
</ul>
<h2>my favourite library {{show}}</h2>

<table border="2">
<tr>
  <th>Name</th>
<th>AGE</th>
  <th>City</th>
</tr>

<tr *ngFor="let b of empdetails; let i=index" >
  <td>{{b.name}}</td>
  <td>{{b.age}}</td>
  <td>{{b.city}}</td>
</tr>
</table>

<input type="submit" value="hello" (click)="abc()" />
